<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="User1" value="admin" />
		<add key="Pass1" value="123" />

		<!-- Usuário 2 -->
		<add key="User2" value="joao" />
		<add key="Pass2" value="102030" />

		<!-- Usuário 3 -->
		<add key="User3" value="maria" />
		<add key="Pass3" value="abc123" />

		<!-- Usuário 4 -->
		<add key="User4" value="carlos" />
		<add key="Pass4" value="456789" />

		<!-- Usuário 5 -->
		<add key="User5" value="ana" />
		<add key="Pass5" value="senha123" />

		<!-- Usuário 6 -->
		<add key="User6" value="pedro" />
		<add key="Pass6" value="pedro2026" />

		<!-- Usuário 7 -->
		<add key="User7" value="julia" />
		<add key="Pass7" value="julia#99" />

		<!-- Usuário 8 -->
		<add key="User8" value="lucas" />
		<add key="Pass8" value="lucas@net" />

		<!-- Usuário 9 -->
		<add key="User9" value="beatriz" />
		<add key="Pass9" value="bia777" />

		<!-- Usuário 10 -->
		<add key="User10" value="suporte" />
		<add key="Pass10" value="sup987" />
	</appSettings>
</configuration>